<body style="background-color: #745813;
            font-family: Arial, sans-serif;">
  <div
    class="container d-flex flex-column justify-content-center align-items-center vh-100"
  >
    <div
      class="card p-5 shadow"
      style="
        max-width: 500px;
        width: 100%;
        background-color: #f6c23e;
        border-radius: 10px;
      "
    >
      <h2 class="text-center font-weight-bold mb-4">Seleccionar Perfil</h2>
      <p class="text-center mb-4">
        Selecciona el perfil con el que deseas ingresar.
      </p>
      <div class="d-flex flex-column">
        <a routerLink="/cliente" class="btn btn-dark btn-custom">Cliente</a
        ><br />
        <a routerLink="/empleado" class="btn btn-dark btn-custom">Empleado</a>
      </div>
    </div>
  </div>
</body>
