/*Pagina principal colores*/
.bg-primary-custom {
    background-color: #40e0d0;
}

.bg-secondary-custom {
    background-color: #228b22;
}

.bg-light-custom {
    background-color: #ffffff;
}

.text-secondary-custom {
    color: #228b22;
}

.botones_ini a {
    margin-right: 100px;
    border-radius: 25px;
    background-color: #bbbbbb;
    color: #000000;
    text-align: center;
}

.botones_reg button{
    margin-right: 10px;
}

.tarjetaC{
    border-radius: 25px;
}

.Servicios_nuestros{
    background-color: #7fd9ff;
}
