<header class="bg-primary-custom text-white">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="img/centauro_logo.png" alt="Logo Centauros" style="width: 5vw; margin-right: 20vw" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto botones_ini">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Atención al cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Solicitudes</a>
                    </li>
                </ul>
            </div>

            <div class="d-flex">
                <ul class="navbar-nav me-auto botones_reg">
                    <li class="nav-item">
                        <a class="nav-link" href="">Registrarse</a>
                    </li>

                    <li class="nav-item">
                        <button routerLink="/ingreso" class="btn btn-info">
                            Iniciar Sesión
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <section class="bg-primary-custom text-white py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 mb-4 mb-md-0">
                    <h1 class="display-4 fw-bold mb-4">
                        Soluciones financieras personalizadas
                    </h1>
                    <p class="lead mb-4">
                        En Centauros, nos enorgullecemos de ser líderes en la colocación de
                        productos de crédito en el mercado. Nuestro enfoque 100% centrado en
                        el cliente nos permite ofrecer soluciones financieras personalizadas
                        que se adaptan a las necesidades y aspiraciones de cada persona.
                    </p>
                    <button class="btn btn-success btn-lg">Conoce más</button>
                </div>
                <div class="col-md-6">
                    <img src="img/CentauroPP.webp" alt="Centauro"
                        style="border-radius: 20px; width: 30vw; margin-left: 130px" />
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section class="py-5 Servicios_nuestros">
        <div class="container">
            <h2 class="text-center mb-5 text-secondary-custom">Nuestros servicios</h2>
            <div class="row g-4">
                <div class="col-6 col-md-3">
                    <div class="card bg-warning text-white h-100">
                        <h5 class="card-title text-center">Cuenta de ahorros</h5>
                        <div class="card-body text-center">
                            <i class="fas fa-shield-alt fa-3x mb-3"></i>
                            <h5 class="card-title">Solicitar</h5>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-3">
                    <div class="card bg-success text-white h-100">
                        <h5 class="card-title text-center">Prestamo</h5>
                        <div class="card-body text-center">
                            <i class="fas fa-credit-card fa-3x mb-3"></i>
                            <h5 class="card-title">Pedir</h5>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-3">
                    <div class="card bg-primary text-white h-100">
                        <h5 class="card-title text-center">CDT</h5>
                        <div class="card-body text-center">
                            <i class="fas fa-piggy-bank fa-3x mb-3"></i>
                            <h5 class="card-title">Abrir</h5>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-3">
                    <div class="card bg-warning text-white h-100">
                        <h5 class="card-title text-center">Fiducia</h5>
                        <div class="card-body text-center">
                            <i class="fas fa-chart-line fa-3x mb-3"></i>
                            <h5 class="card-title">Crear</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Credit Card Section -->
    <section class="bg-white py-5 ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 mb-4 mb-md-0">
                    <h2 class="text-secondary-custom mb-4">
                        Tarjeta de Crédito Centauros
                    </h2>
                    <p class="lead mb-4">
                        Diseñada para ofrecerte la mejor experiencia financiera con nuestra
                        tarjeta de crédito. Disfruta de múltiples beneficios que hemos
                        creado pensando en ti.
                    </p>
                    <button class="btn btn-success">Solicitar ahora</button>
                </div>
                <div class="col-md-6">
                    <img src="img/TarjetaC.jpg" alt="Tarjeta de Crédito Centauros" class="tarjetaC" />
                </div>
            </div>
        </div>
    </section>

    <!-- Payment Methods -->
    <section class="bg-light-custom py-5">
        <div class="container">
            <h2 class="text-center mb-5 text-secondary-custom">Métodos de pago</h2>
            <div class="row g-4">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-center">
                        <img src="img/pse_logo.png" alt="PSE" style="height: 15vh" />
                        <div>
                            <h5 class="card-title">Pago Seguro Electrónico (PSE)</h5>
                            <p class="card-text">
                                Realiza tus pagos de forma rápida y segura a través de tu
                                entidad bancaria.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Interest Rates -->
    <section class="bg-white py-5">
        <div class="container">
            <h2 class="text-center mb-5 text-secondary-custom">Tasas de interés</h2>

            <div class="row g-4">
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="card-title text-secondary-custom mb-0">CDT</h5>
                        </div>

                        <div class="card-body d-flex">
                            <ul class="list-unstyled d-flex align-items-center">
                                <li class="me-3">
                                    <img src="img/logo_cdt.png" alt="CDT" style="height: 15vh" />
                                </li>
                                <li>
                                    <p class="card-text">
                                        Actualmente contamos con una tasa del 15% en nuestros CDT
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="card-title text-secondary-custom mb-0">Crédito</h5>
                        </div>
                        <div class="card-body d-flex">
                            <ul class="list-unstyled d-flex align-items-center">
                                <li class="me-3">
                                    <img src="img/credito_logo.png" alt="CDT" style="height: 15vh" />
                                </li>
                                <li>
                                    <p class="card-text">
                                        Actualmente contamos con una tasa del 8% en todos nuestros
                                        créditos
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-primary-custom text-white py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-4">
                    <h4 class="mb-3">Centauros</h4>

                    <ul class="list-unstyled d-flex align-items-center">
                        <li class="me-3">
                            <img src="img/centauro_logo.png" alt="CDT" style="height: 10vh" />
                        </li>
                        <li>
                            <p>
                                Tu seguridad financiera <br />
                                está en el mejor sitio.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="mb-3">Contacto</h4>
                    <p class="mb-1">centauros bank.com</p>
                    <p>+57 321 2114326</p>
                </div>
                <div class="col-md-4">
                    <h4 class="mb-3">Síguenos</h4>
                    <div class="d-flex gap-3">
                        <a href="#" class="text-white">
                            <i class="fab fa-instagram fa-lg"></i>
                            <span class="visually-hidden">Instagram</span>
                        </a>
                        <a href="#" class="text-white">
                            <i class="fab fa-facebook fa-lg"></i>
                            <span class="visually-hidden">Facebook</span>
                        </a>
                        <a href="#" class="text-white">
                            <i class="fab fa-youtube fa-lg"></i>
                            <span class="visually-hidden">YouTube</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4 pt-4 border-top border-white-50">
                <small>© 2024 Centauros. Todos los derechos reservados.</small>
            </div>
        </div>
    </footer>
</main>